<html>
	<head>
		<title> Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Blog</a></h1>
		</div>
		<div>
			<p> published: 14.06.2014, 12:14</p>
			<h2><a href="">My first post</a></h2>
			<p>
				little short kid that hails from Lilongwe. 'akuti ' was born in the UK(we're not too sure of that yet though so it yet to be proven ).
				so ya like all kids from out there he apparently is allergic to peanuts .its an English ting I think...
			</p>
		</div>
		<div>
			<p> published: 14.06.2014, 12:14</p>
			<h2><a href="">My second post</a></h2>
			<p>
				little short kid that hails from Lilongwe. 'akuti ' was born in the UK(we're not too sure of that yet though so it yet to be proven ).
				so ya like all kids from out there he apparently is allergic to peanuts .its an English ting I think...
			</p>
		</div>
	</body>
</html>